body {
	margin: 0px 0px 0px 0px;
	width: 1500px;
	padding: 0px 0px 0px 0px;
}

a:link {
	color: white;
}

a:hover {
	color: white;
	background: #477AFA;
}

a:visited {
	color: white;
}

.btn {
	display: block;
	font-family: "Arial";
	text-decoration: none;
	background-color: black;
}

.header {
	background-size: 100% auto;	height: 940px;
	background-image: url(images/bg.jpg);
	background-position: 0px 50%;
	color: white;
	margin: 0 auto;
	text-align: center;
}

.header h1 {
	width: 800px;
	margin: auto;
	font-size: 125px;
	padding-top: 230px;
	line-height: 0.85;
	font-family: "Arial";
	text-transform: uppercase;
}

.header .btn {
	letter-spacing: 2.5px;
	width: 190px;
	margin: 0 auto;
	height: 45px;
	font-size: 15px;
	line-height: 45px;
}

.header p {
	font-size: 20px;
	padding-top: 100px;
	letter-spacing: 10px;
	font-family: "Arial";
	text-transform: uppercase;
}

.nav {
	color: white;
	font-size: 17.5px;
	line-height: 100px;
	font-family: "Arial";
	background-color: black;
}

.nav ul {
	padding-left: 200px;
	margin-top: 0px;
}

ul li:nth-child(4) {
	background-color: #477AFA;
}

.nav li {
	display: inline;
	padding: 40px 15px 40px 15px;
}

.main {
	height: 420px;
	font-size: 24px;
	font-family: "Arial";
	background-color: white;
}

.main h2 {
	margin-top: 100px;
	font-weight: bold;
	font-family: "Arial";
	margin-left: 500px;
}

.main p {
float: right; 
width: 1000px;
font-family: "Arial";
margin-right: 0px;
}

img {
	float: left;
	margin: 100px 0 0 200px;
}

.jumbotron {
	background-position: 0px 50%;
	height: 720px;
	background-image: url(images/jumbotron_bg.jpg);
	color: white;
	background-size: 100% auto;
}

.jumbotron h2 {
	text-align: right;
	font-size: 25px;
	font-family: "Arial";	
	font-weight: bold;
	margin-top: 0px;
	padding: 270px 180px 0 0;
}

.jumbotron .btn {
	width: 130px;
	height: 45px;
	float: right;
	line-height: 45px;
	text-align: center;
	margin: 0 180px 0 20px;
}

.jumbotron p {
	padding-right: 180px;
	font-size: 15px;	
	text-align: right;
	font-family: "Arial";
	letter-spacing: 2.5px;
}

.footer p  {
	margin: 0px 0 0px 0;	
	font-size: 15px;	
	text-justify: center;
	font-family: "Arial";
	padding-left: 200px;
}

.footer {
	color: white;	
	line-height: 110px;
	background-color: black;
}